*~
*.pyc
*.pyo
*.[oas]
*.so
*.so.*
*.diff
*.log
*.swp
*.html
*.xml
.deps
.DS_Store
config.mak
config.log
config.status
configure
autom4te.cache
aclocal.m4
source.list
regression.diffs
regression.out
results
pid
log
dist
tags
zconf*
.gdb*

debian/*-stamp
debian/*tmp*
debian/packages
debian/files
debian/*substvars
debian/*debhelper
debian/patches
debian/python-pgq3/*
debian/python-skytools3/*
debian/postgresql-8.4-pgq3/*
debian/postgresql-9.0-pgq3/*
debian/skytools3*/*
debian/skytools-pgq*/*
debian/skytools-londiste*/*

python/skytools/installer_config.py
sql/txid/txid.sql
sql/pgq_node/pgq_node.sql
sql/pgq_node/pgq_node.upgrade.sql
sql/londiste/londiste.sql
sql/londiste/londiste.upgrade.sql
sql/pgq/pgq.sql
sql/pgq/pgq.upgrade.sql
sql/pgq/docs
sql/pgq_coop/pgq_coop.sql
sql/pgq_coop/pgq_coop.upgrade.sql
sql/pgq/lowlevel/pgq_lowlevel.sql
sql/pgq/triggers/pgq_triggers.sql
sql/pgq_ext/pgq_ext.sql
sql/ticker/pgqd
sql/txid/txid.sql.in
tests/londiste/conf
tests/merge/conf

tmp_files.lst
sql/ticker/pgqd.ini.h

build
doc/londiste.5
doc/man
reconfigure.sh
*.orig
*.rej

.pc