*~
*.pyc
*.pyo
*.[oas]
*.so
*.so.*
*.diff
*.log
*.swp
*.html
*.xml
.deps
.DS_Store
config.mak
config.log
config.status
config.guess
config.sub
configure
install-sh
autom4te.cache
aclocal.m4
source.list
regression.diffs
regression.out
results
pid
log
dist
tags
zconf*
.gdb*

debian/*-stamp
debian/*tmp*
debian/packages
debian/files
debian/*substvars
debian/*debhelper
debian/patches
debian/python-pgq3/*
debian/python-skytools3/*
debian/postgresql-*-pgq3/*
debian/skytools3*/*
debian/skytools-pgq*/*
debian/skytools-londiste*/*
debian/control-pgstamp

python/skytools/installer_config.py
sql/txid/txid.sql
sql/pgq_node/pgq_node.sql
sql/pgq_node/pgq_node.upgrade.sql
sql/londiste/londiste.sql
sql/londiste/londiste.upgrade.sql
sql/pgq/pgq.sql
sql/pgq/pgq.upgrade.sql
sql/pgq_coop/pgq_coop.sql
sql/pgq_coop/pgq_coop.upgrade.sql
sql/pgq_ext/pgq_ext.sql
sql/pgq_ext/pgq_ext.upgrade.sql
sql/ticker/pgqd
sql/txid/txid.sql.in
tests/londiste/conf
tests/merge/conf

sql/*/*--*--*.sql
sql/*/*--*.sql
sql/*/test.dump
sql/*/structure/newgrants*.sql
sql/*/structure/oldgrants*.sql

tmp_files.lst
sql/ticker/pgqd.ini.h

build
build.sk3
doc/londiste.5
doc/man
reconfigure.sh
*.orig
*.rej

.pc
