*.pyc
*.pyo
*.[oas]
*.so
*.so.*
*.diff
*.log
*.swp
*.html
*.xml
.deps
config.mak
config.log
config.status
configure
autom4te.cache
aclocal.m4
source.list
regression.diffs
regression.out
results
pid
log
dist
tags
zconf*

python/skytools/installer_config.py
sql/txid/txid.sql
sql/pgq_node/pgq_node.sql
sql/pgq_node/pgq_node.upgrade.sql
sql/londiste/londiste.sql
sql/londiste/londiste.upgrade.sql
sql/pgq/pgq.sql
sql/pgq/pgq.upgrade.sql
sql/pgq/docs
sql/pgq_coop/pgq_coop.sql
sql/pgq_coop/pgq_coop.upgrade.sql
sql/pgq/lowlevel/pgq_lowlevel.sql
sql/pgq/triggers/pgq_triggers.sql
sql/pgq_ext/pgq_ext.sql
sql/ticker/pgqd
tests/londiste/conf
tests/merge/conf

