[bulk_loader]
job_name = bizgres_loader

src_db = dbname=bulksrc
dst_db = dbname=bulkdst

pgq_queue_name = xx

use_skylog = 1

logfile = ~/log/%(job_name)s.log
pidfile = ~/pid/%(job_name)s.pid

# 0 - apply UPDATE as UPDATE
# 1 - apply UPDATE as DELETE+INSERT
# 2 - merge INSERT/UPDATE, do DELETE+INSERT
load_method = 0

# no hurry
loop_delay = 10

# table renaming
# remap_tables = skypein_cdr_closed:skypein_cdr, tbl1:tbl2

