[queue_splitter]
job_name          = queue_splitter_test

src_db            = dbname=sourcedb_test
dst_db            = dbname=destdb_test

pgq_queue_name    = source_queue

logfile           = ~/log/%(job_name)s.log
pidfile           = ~/pid/%(job_name)s.pid

use_skylog        = 0

